/****** Object:  Table ESTADISTICAS    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE ESTADISTICAS(
	ID int NOT NULL,
	IDJUGADOR int NOT NULL,
	RITMO_GKSALTO int NULL,
	TIRO_GKPARADA int NULL,
	PASE_GKSAQUE int NULL,
	REGATE_GKREFLEJO int NULL,
	DEFENSA_GKVELOCIDAD int NULL,
	FISICO_GKPOSICION int NULL,
	TOTAL_RITMO_GKSALTO int NULL,
	TOTAL_TIRO_GKPARADA int NULL,
	TOTAL_PASE_GKSAQUE int NULL,
	TOTAL_REGATE_GKREFLEJO int NULL,
	TOTAL_DEFENSA_GKVELOCIDAD int NULL,
	TOTAL_FISICO_GKPOSICION int NULL,
 CONSTRAINT PK_ESTADISTICAS PRIMARY KEY CLUSTERED 
(
	ID ASC
))

GO
/****** Object:  Table JUGADORES    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE JUGADORES(
	ID int NOT NULL,
	IDEQUIPO int NOT NULL,
	IDPOSICION int NOT NULL,
	NOMBRE nvarchar(100) NOT NULL,
	DORSAL int NOT NULL,
	EDAD int NULL,
	PESO int NULL,
	ALTURA int NULL,
 CONSTRAINT PK_JUGADORES PRIMARY KEY CLUSTERED 
(
	ID ASC
))

GO
/****** Object:  View V_ESTADISTICAS_JUGADOR    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW V_ESTADISTICAS_JUGADOR
AS
    SELECT JUG.NOMBRE, EST.* FROM ESTADISTICAS EST INNER JOIN JUGADORES JUG ON EST.IDJUGADOR = JUG.ID
GO
/****** Object:  Table ENTRENAMIENTOS    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE ENTRENAMIENTOS(
	ID int NOT NULL,
	IDEQUIPO int NOT NULL,
	FECHA_INICIO datetime NULL,
	FECHA_FIN datetime NULL,
	ACTIVO bit NULL,
	NOMBRE nvarchar(100) NOT NULL,
 CONSTRAINT PK_SESIONES PRIMARY KEY CLUSTERED 
(
	ID ASC
))

GO
/****** Object:  Table EQUIPOS    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE EQUIPOS(
	ID int NOT NULL,
	IDUSUARIO int NOT NULL,
	NOMBRE nvarchar(100) NOT NULL,
	IMAGEN nvarchar(1000) NOT NULL,
 CONSTRAINT PK_EQUIPOS PRIMARY KEY CLUSTERED 
(
	ID ASC
))

GO
/****** Object:  Table JUGADORES_ENTRENAMIENTO    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE JUGADORES_ENTRENAMIENTO(
	ID int NOT NULL,
	IDJUGADOR int NOT NULL,
	IDENTRENAMIENTO int NOT NULL,
	RITMO_GKSALTO int NULL,
	TIRO_GKPARADA int NULL,
	PASE_GKSAQUE int NULL,
	REGATE_GKREFLEJO int NULL,
	DEFENSA_GKVELOCIDAD int NULL,
	FISICO_GKPOSICION int NULL,
	FINALIZADO bit NULL)

GO
/****** Object:  Table POSICIONES    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE POSICIONES(
	ID int NOT NULL,
	POSICION nvarchar(50) NOT NULL,
 CONSTRAINT PK_POSICIONES PRIMARY KEY CLUSTERED 
(
	ID ASC
))

GO
/****** Object:  Table USUARIOS    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE USUARIOS(
	ID int NOT NULL,
	NOM_USUARIO nvarchar(50) NOT NULL,
	CORREO nvarchar(100) NOT NULL,
	CONTRASENIA nvarchar(50) NOT NULL,
	TELEFONO int NULL,
	TOKEN nvarchar(100) NULL,
 CONSTRAINT PK_USUARIOS PRIMARY KEY CLUSTERED 
(
	ID ASC
))

GO
INSERT ENTRENAMIENTOS (ID, IDEQUIPO, FECHA_INICIO, FECHA_FIN, ACTIVO, NOMBRE) VALUES (1, 1, CAST(N'2023-03-22T11:45:57.973' AS DateTime), CAST(N'2023-03-22T11:46:10.283' AS DateTime), 0, N'asd')
INSERT ENTRENAMIENTOS (ID, IDEQUIPO, FECHA_INICIO, FECHA_FIN, ACTIVO, NOMBRE) VALUES (2, 1, CAST(N'2023-03-22T13:07:55.613' AS DateTime), CAST(N'2023-03-22T13:08:07.323' AS DateTime), 0, N'asdasdasd')
GO
INSERT EQUIPOS (ID, IDUSUARIO, NOMBRE, IMAGEN) VALUES (1, 2, N'Fernandito Delafuente', N'fernanditodelafuente.png')
INSERT EQUIPOS (ID, IDUSUARIO, NOMBRE, IMAGEN) VALUES (2, 2, N'HierbaBuena FC', N'hierbabuenafc.png')
GO
INSERT ESTADISTICAS (ID, IDJUGADOR, RITMO_GKSALTO, TIRO_GKPARADA, PASE_GKSAQUE, REGATE_GKREFLEJO, DEFENSA_GKVELOCIDAD, FISICO_GKPOSICION, TOTAL_RITMO_GKSALTO, TOTAL_TIRO_GKPARADA, TOTAL_PASE_GKSAQUE, TOTAL_REGATE_GKREFLEJO, TOTAL_DEFENSA_GKVELOCIDAD, TOTAL_FISICO_GKPOSICION) VALUES (1, 1, 14, 8, 17, 9, 9, 13, 2, 2, 2, 2, 2, 2)
GO
INSERT JUGADORES (ID, IDEQUIPO, IDPOSICION, NOMBRE, DORSAL, EDAD, PESO, ALTURA) VALUES (1, 1, 1, N'Alisson Becker', 0, 0, 0, 0)
GO
INSERT JUGADORES_ENTRENAMIENTO (ID, IDJUGADOR, IDENTRENAMIENTO, RITMO_GKSALTO, TIRO_GKPARADA, PASE_GKSAQUE, REGATE_GKREFLEJO, DEFENSA_GKVELOCIDAD, FISICO_GKPOSICION, FINALIZADO) VALUES (1, 1, 1, 5, 3, 7, 3, 4, 5, 1)
INSERT JUGADORES_ENTRENAMIENTO (ID, IDJUGADOR, IDENTRENAMIENTO, RITMO_GKSALTO, TIRO_GKPARADA, PASE_GKSAQUE, REGATE_GKREFLEJO, DEFENSA_GKVELOCIDAD, FISICO_GKPOSICION, FINALIZADO) VALUES (2, 1, 2, 9, 5, 10, 6, 5, 8, 1)
GO
INSERT POSICIONES (ID, POSICION) VALUES (1, N'Portero')
INSERT POSICIONES (ID, POSICION) VALUES (2, N'Lateral izquierdo')
INSERT POSICIONES (ID, POSICION) VALUES (3, N'Lateral derecho')
GO
INSERT USUARIOS (ID, NOM_USUARIO, CORREO, CONTRASENIA, TELEFONO, TOKEN) VALUES (1, N'FGARCIA211', N'oxtreaz@gmail.com', N'PapaFrita123', 636969939, NULL)
INSERT USUARIOS (ID, NOM_USUARIO, CORREO, CONTRASENIA, TELEFONO, TOKEN) VALUES (2, N'Fernandito011', N'vandidoalo@gmail.com', N'ASDASDASD', 634020201, NULL)
GO
ALTER TABLE ENTRENAMIENTOS  WITH CHECK ADD  CONSTRAINT FK_SESIONES_EQUIPOS FOREIGN KEY(IDEQUIPO)
REFERENCES EQUIPOS (ID)
GO
ALTER TABLE ENTRENAMIENTOS CHECK CONSTRAINT FK_SESIONES_EQUIPOS
GO
ALTER TABLE EQUIPOS  WITH CHECK ADD  CONSTRAINT FK_EQUIPOS_USUARIOS FOREIGN KEY(IDUSUARIO)
REFERENCES USUARIOS (ID)
GO
ALTER TABLE EQUIPOS CHECK CONSTRAINT FK_EQUIPOS_USUARIOS
GO
ALTER TABLE ESTADISTICAS  WITH CHECK ADD  CONSTRAINT FK_ESTADISTICAS_JUGADORES FOREIGN KEY(IDJUGADOR)
REFERENCES JUGADORES (ID)
GO
ALTER TABLE ESTADISTICAS CHECK CONSTRAINT FK_ESTADISTICAS_JUGADORES
GO
ALTER TABLE JUGADORES  WITH CHECK ADD  CONSTRAINT FK_JUGADORES_EQUIPOS FOREIGN KEY(IDEQUIPO)
REFERENCES EQUIPOS (ID)
GO
ALTER TABLE JUGADORES CHECK CONSTRAINT FK_JUGADORES_EQUIPOS
GO
ALTER TABLE JUGADORES  WITH CHECK ADD  CONSTRAINT FK_JUGADORES_POSICIONES FOREIGN KEY(IDPOSICION)
REFERENCES POSICIONES (ID)
GO
ALTER TABLE JUGADORES CHECK CONSTRAINT FK_JUGADORES_POSICIONES
GO
ALTER TABLE JUGADORES_ENTRENAMIENTO  WITH CHECK ADD  CONSTRAINT FK_JUGADORES_ENTRENAMIENTO_ENTRENAMIENTOS FOREIGN KEY(IDENTRENAMIENTO)
REFERENCES ENTRENAMIENTOS (ID)
GO
ALTER TABLE JUGADORES_ENTRENAMIENTO CHECK CONSTRAINT FK_JUGADORES_ENTRENAMIENTO_ENTRENAMIENTOS
GO
ALTER TABLE JUGADORES_ENTRENAMIENTO  WITH CHECK ADD  CONSTRAINT FK_JUGADORES_ENTRENAMIENTO_JUGADORES FOREIGN KEY(IDJUGADOR)
REFERENCES JUGADORES (ID)
GO
ALTER TABLE JUGADORES_ENTRENAMIENTO CHECK CONSTRAINT FK_JUGADORES_ENTRENAMIENTO_JUGADORES
GO
/****** Object:  StoredProcedure SP_BORRAR_ENTRENAMIENTO    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE SP_BORRAR_ENTRENAMIENTO (@IDENTRENAMIENTO INT)
AS
	DELETE FROM ENTRENAMIENTOS
	WHERE ID = @IDENTRENAMIENTO
GO
/****** Object:  StoredProcedure SP_BUSCAR_ENTRENAMIENTO    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE SP_BUSCAR_ENTRENAMIENTO (@IDENTRENAMIENTO INT)
AS
	SELECT * FROM ENTRENAMIENTOS
	WHERE ID = @IDENTRENAMIENTO
GO
/****** Object:  StoredProcedure SP_DELETE_JUGADOR_ID    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE SP_DELETE_JUGADOR_ID (@IDJUGADOR INT)
AS
	DELETE FROM JUGADORES_ENTRENAMIENTO
	WHERE IDJUGADOR = @IDJUGADOR

	DELETE FROM ESTADISTICAS
	WHERE IDJUGADOR = @IDJUGADOR

    DELETE FROM JUGADORES
	WHERE ID = @IDJUGADOR
GO
/****** Object:  StoredProcedure SP_EMPEZAR_ENTRENAMIENTO    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE SP_EMPEZAR_ENTRENAMIENTO (@IDENTRENAMIENTO INT, @FECHAINICIO DATETIME)
AS
	UPDATE ENTRENAMIENTOS SET ACTIVO = 1, FECHA_INICIO=@FECHAINICIO 
	WHERE ID = @IDENTRENAMIENTO
GO
/****** Object:  StoredProcedure SP_EMPEZAR_SESION    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE SP_EMPEZAR_SESION (@IDENTRENAMIENTO INT, @FECHAINICIO DATETIME)
AS
	UPDATE ENTRENAMIENTOS SET ACTIVO = 1, FECHA_INICIO=@FECHAINICIO WHERE ID = @IDENTRENAMIENTO
GO
/****** Object:  StoredProcedure SP_ENTRENAMIENTOS_EQUIPO    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE SP_ENTRENAMIENTOS_EQUIPO(@IDEQUIPO INT)
AS
	SELECT * FROM ENTRENAMIENTOS
	WHERE IDEQUIPO = @IDEQUIPO
	ORDER BY ID DESC
GO
/****** Object:  StoredProcedure SP_FINALIZAR_ENTRENAMIENTO    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE SP_FINALIZAR_ENTRENAMIENTO (@IDENTRENAMIENTO INT, @FECHAFIN DATETIME)
AS
	UPDATE ENTRENAMIENTOS SET ACTIVO = 0, FECHA_FIN=@FECHAFIN 
	WHERE ID = @IDENTRENAMIENTO
GO
/****** Object:  StoredProcedure SP_FIND_CORREO    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE SP_FIND_CORREO (@CORREO NVARCHAR(50))
AS
	SELECT ID,NOM_USUARIO,CORREO,CONTRASENIA,TELEFONO,ISNULL(TOKEN,'SIN TOKEN') AS TOKEN FROM USUARIOS
	WHERE CORREO = @CORREO
GO
/****** Object:  StoredProcedure SP_FIND_EQUIPO_ID    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE SP_FIND_EQUIPO_ID (@IDEQUIPO INT)
AS
	SELECT * FROM EQUIPOS
	WHERE ID = @IDEQUIPO
GO
/****** Object:  StoredProcedure SP_FIND_EQUIPOS_USER    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE SP_FIND_EQUIPOS_USER (@IDUSER INT)
AS
	SELECT * FROM EQUIPOS
	WHERE IDUSUARIO = @IDUSER
GO
/****** Object:  StoredProcedure SP_FIND_JUGADOR_ID    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE SP_FIND_JUGADOR_ID (@IDJUGADOR INT)
AS
	SELECT * FROM JUGADORES
	WHERE ID = @IDJUGADOR
GO
/****** Object:  StoredProcedure SP_FIND_JUGADORES_IDEQUIPO    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE SP_FIND_JUGADORES_IDEQUIPO (@IDEQUIPO INT)
AS
	SELECT * FROM JUGADORES
	WHERE IDEQUIPO = @IDEQUIPO
GO
/****** Object:  StoredProcedure SP_FIND_NOM_USUARIO    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE SP_FIND_NOM_USUARIO (@NOMBRE NVARCHAR(50))
AS
	SELECT ID,NOM_USUARIO,CORREO,CONTRASENIA,TELEFONO,ISNULL(TOKEN,'SIN TOKEN') AS TOKEN FROM USUARIOS
	WHERE NOM_USUARIO = @NOMBRE
GO
/****** Object:  StoredProcedure SP_FIND_POSITIONS    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE SP_FIND_POSITIONS
AS
	SELECT * FROM POSICIONES
GO
/****** Object:  StoredProcedure SP_FIND_TELEFONO    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE SP_FIND_TELEFONO (@TELEFONO INT)
AS
	SELECT ID,NOM_USUARIO,CORREO,CONTRASENIA,TELEFONO,ISNULL(TOKEN,'SIN TOKEN') AS TOKEN FROM USUARIOS
	WHERE TELEFONO = @TELEFONO
GO
/****** Object:  StoredProcedure SP_FIND_TOKEN    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE SP_FIND_TOKEN (@TOKEN NVARCHAR(100))
AS
	SELECT ID,NOM_USUARIO,CORREO,CONTRASENIA,TELEFONO,ISNULL(TOKEN,'SIN TOKEN') AS TOKEN FROM USUARIOS
	WHERE TOKEN = @TOKEN
GO
/****** Object:  StoredProcedure SP_FIND_USUARIO    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE SP_FIND_USUARIO (@NOMBRE NVARCHAR(50), @CONTRASENIA NVARCHAR(50))
AS
	SELECT ID,NOM_USUARIO,CORREO,CONTRASENIA,TELEFONO,ISNULL(TOKEN,'SIN TOKEN') AS TOKEN FROM USUARIOS
	WHERE NOM_USUARIO = @NOMBRE AND CONTRASENIA = @CONTRASENIA
GO
/****** Object:  StoredProcedure SP_INSERT_EQUIPO    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE SP_INSERT_EQUIPO (@IDUSER INT, @NOMBRE NVARCHAR(50),@IMAGEN NVARCHAR(1000))
AS
	INSERT INTO EQUIPOS VALUES ((SELECT ISNULL(MAX(ID),0) FROM EQUIPOS)+1,@IDUSER,@NOMBRE,@IMAGEN)
GO
/****** Object:  StoredProcedure SP_INSERT_JUGADOR    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE SP_INSERT_JUGADOR (@IDEQUIPO INT, @IDPOSICION INT, @NOMBRE NVARCHAR(100), @DORSAL INT, @EDAD INT, @PESO INT, @ALTURA INT)
AS
    INSERT INTO JUGADORES VALUES (
	(SELECT ISNULL(MAX(ID),0) FROM JUGADORES)+1,@IDEQUIPO,@IDPOSICION,@NOMBRE,@DORSAL,@EDAD,@PESO,@ALTURA)

	INSERT INTO ESTADISTICAS VALUES 
	((SELECT ISNULL(MAX(ID),0) FROM ESTADISTICAS)+1,(SELECT ISNULL(MAX(ID),0) FROM JUGADORES),NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL)
GO
/****** Object:  StoredProcedure SP_INSERT_USUARIO    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE SP_INSERT_USUARIO (@NOMBRE NVARCHAR(50),@CORREO NVARCHAR(100), @CONTRASENIA NVARCHAR(50), @TELEFONO INT)
AS
	INSERT INTO USUARIOS VALUES ((SELECT ISNULL(MAX(ID),0) FROM USUARIOS)+1,@NOMBRE,@CORREO,@CONTRASENIA,@TELEFONO,NULL)
GO
/****** Object:  StoredProcedure SP_INSERTAR_ENTRENAMIENTO    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE SP_INSERTAR_ENTRENAMIENTO (@IDEQUIPO INT, @NOMBRE NVARCHAR(100))
AS
	INSERT INTO ENTRENAMIENTOS VALUES ((SELECT ISNULL(MAX(ID),0) FROM ENTRENAMIENTOS)+1,@IDEQUIPO,NULL,NULL,0,@NOMBRE)
GO
/****** Object:  StoredProcedure SP_UPDATE_TOKEN    Script Date: 23/03/2023 10:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE SP_UPDATE_TOKEN (@OLDTOKEN NVARCHAR(100), @NEWTOKEN NVARCHAR(100))
AS
	UPDATE USUARIOS SET TOKEN = @NEWTOKEN WHERE TOKEN = @OLDTOKEN
GO